<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Properties>
		<Property name="log-path">cdrs</Property>
	</Properties>

	<ThresholdFilter level="info" />

	<Appenders>
		<RollingFile name="RollingFile" fileName="${log-path}/talkbac.log" filePattern="${log-path}/talkbac-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<!-- SizeBasedTriggeringPolicy size="100 MB"/ -->
			</Policies>
			<DefaultRolloverStrategy max="60" />
		</RollingFile>
	</Appenders>
	<Loggers>

		<Logger name="oracle.communications.talkbac">
			<AppenderRef ref="RollingFile" />
		</Logger>

		<Root level="info">
			<!-- AppenderRef ref="RollingFile" / -->
		</Root>


	</Loggers>

</Configuration>